<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<!-- 
  BODY
 -->
<div class="web-home">

  <!-- 
    HEADER BOX
   -->
  <header class="container-fluid">

    <!-- 
      HEADER
     -->
    <div class="container">

      <!-- 
        HEADER MENU LEFT
       -->
      <div class="header-left">
        <!-- 
          HEADER LEFT TOP
         -->
        <div class="header-left-top">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>

          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="#">
            <i class="fab fa-tripadvisor"></i>
          </a>
        </div>

        <!-- 
          HEADER LEFT BOTTOM
         -->
        <div class="header-left-bottom">
          <ul class="menu-left">
            <li>
              <a href="#">
                HOME
              </a>
            </li>

            <li class="dropdown">
              <a href="#" >
                ABOUT US
                <i class="fa fa-angle-down"></i>
              </a>

              <!-- 
                MENU DROPDOWN
               -->
              <div class="dropdown-content">
                <ul class="sub-menu">
                  <li>
                    <a href="">Welcome letter</a>
                  </li>

                  <li>
                    <a href="#">
                      why we are special
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      dfjgsbvk
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="dropdown">
              <a href="#" >
                rooms & rates
                <i class="fa fa-angle-down"></i>
              </a>

              <!-- 
                MENU DROPDOWN
               -->
              <div class="dropdown-content">
                <ul class="sub-menu">
                  <li>
                    <a href="">superior room</a>
                  </li>

                  <li>
                    <a href="#">
                      deluxe room
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      executive room
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      junior suite room
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      terrace suite
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="dropdown">
              <a href="#" >
                facilities
                <i class="fa fa-angle-down"></i>
              </a>

              <!-- 
                MENU DROPDOWN
               -->
              <div class="dropdown-content">
                <ul class="sub-menu">
                  <li>
                    <a href="">the rhythms restaurant</a>
                  </li>

                  <li>
                    <a href="#">
                      terraco sky bar
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      lobby lounge
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      La énmay spa
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#">
                gallery
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 
        LOGO
       -->
      <div class="logo">
        <a href="#">
          <img src="../../assets/images/logo.png" alt="">
        </a>
      </div>
      
      <!-- 
        HEADER RIGHT
       -->
      <div class="header-right">
        <!-- 
          HEADER RIGHT TOP
         -->
        <div class="header-right-top">
          <a href="#">
            <i class="far fa-star"></i>
            special office
          </a>

          <a href="#">
            <i class="far fa-hand-point-right"></i>
            reservations
          </a>

          <a href="#">
            <i class="far fas fa-phone-alt"></i>
            +84 243 212 1155
          </a>

          <i class="fas fa-globe-americas"></i>
          <select>
            <option value="EN">EN</option>
            <option value="VI">VI</option>
          </select>
        </div>

        <!-- 
          HEADER RIGHT BOTTOM
         -->
        <div class="header-right-bottom">
          <ul class="menu-right">
            <li class="dropdown">
              <a href="#" >
                TRavel guide
                <i class="fa fa-angle-down"></i>
              </a>

              <!-- 
                MENU DROPDOWN
               -->
              <div class="dropdown-content">
                <ul class="sub-menu">
                  <li>
                    <a href="">attraction</a>
                  </li>

                  <li>
                    <a href="#">
                      night life
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      shopping
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      food & drinks
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      dos and don'ts
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="dropdown">
              <a href="#" >
                news & events
              </a>
            </li>

            <li class="dropdown">
              <a href="#" >
                tour services
                <i class="fa fa-angle-down"></i>
              </a>
              
              <!-- 
                MENU DROPDOWN
               -->
              <div class="dropdown-content">
                <ul class="sub-menu">
                  <li>
                    <a href="">VietNam daily tours</a>
                  </li>

                  <li>
                    <a href="#">
                      halong & cruises
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      sapa tours
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      package tours
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      airport transfer
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      visa on arrival
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#">
                contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div style="border-bottom: 1px solid rgba(2555, 255, 255, 0.2);"></div>

  <!-- 
    BANNER
  -->
  <div class="banner">
    <!-- 
      PREVIOUS_LAYOUT
    -->
    <div class="arrow arrow-left">
      <a href="prev">
        <i class="fas fa-chevron-left"></i>
      </a>
    </div>

    <!-- 
      NEXT_LAYOUT
     -->
    <div class="arrow arrow-right">
      <a href="next">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div style="height: 5000px"></div>
</div>
