
<style>
    table tr:hover{
        background: #ddd;
        cursor: pointer;
    }
</style>
<p>home works!</p>
<h1>it is home.component</h1>
<table cellPadding = "3" border="1" [cellSpacing]="0">
    <thead>
        <th>
            STT
        </th>
        <th>
            Họ tên
        </th>
    </thead>
    <tr>
        <td>
            1
        </td>
        <td>
            Phạm Xuân Nguyên
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Nhung Phí
        </td>
    </tr>
</table>