ul, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.web-home {
  background: url("../../assets/images/background.jpg") no-repeat;
  background-size: auto 100vh;
  border: 1px solid red;
}
header {
  font-family: "Montserrat", sans-serif;

}
.header-left .header-left-top {
  padding: 25px 0;
}
.header-left .header-left-top a i{
  color: aliceblue;
  font-size: 12px;
  padding-right: 15px ;
}

.header-left .header-left-bottom .menu-left {
  font-size: 11px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 500;
  list-style: none;
}
.menu-left > li {
  float: left;
  display: block;

}
.menu-left > li:hover {
  /*text-shadow: 0 0 0 0.3;*/
}
.menu-left > li:first-child a{
  padding-left: 0;
}

.menu-left > li:last-child a{
  padding-right: 0;
}
.menu-left  li  a {
  color: aliceblue;
  display: block;
  padding: 15px;
}
.dropdown {
  position: relative;

}
.dropdown-content {
  background: rgba(255, 255, 255, 0.75);
  display: none;
  width: max-content;
  position: absolute;
  bottom: 0px;
  box-shadow: 0.5px 0.5px 7px #ddd;
  border-radius: 7px 7px 7px 7px;
  /*transition-duration: 0.3s;*/
  position: relative;
}
.dropdown-content:after, .dropdown-content:before {
  bottom: 100%;
  left: 25px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown-content:after {
  border-bottom-color: rgba(255, 255, 255, 0.75);
  border-width: 8px;
  margin-left: -8px;
}
.dropdown-content:before {
  /*border-bottom-color: rgba(255, 255, 255, 0.75);*/
  border-width: 14px;
  margin-left: -14px;
}
.dropdown-content ul li {

  border-bottom: 1px solid rgba(204, 204, 204, 0.85);
}

.dropdown-content ul li:last-child {
  border: none;
}
.dropdown-content ul li a {
  color: #515561;
  font-weight: bold;
  font-size: 12px;
  display: block;
  padding: 10px 15px;
  transition-duration: 0.3s;
}
.dropdown-content ul li:hover a{
  padding-left: 22px;
  padding-right: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fade_in_show 0.3s;
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scaleY(0)
  }

  100% {
    opacity: 1;
    transform: scaleY(1)
  }
}


