<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid web-home">
  <header class="container">
    <div class="header-left">
      <div class="header-left-top">
        <a href="#">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa fa-tripadvisor"></i>
        </a>
      </div>
      <div class="header-left-bottom">
        <ul class="menu-left">
          <li>
            <a href="#">
              HOME
            </a>
          </li>
          <li class="dropdown">
            <a href="#" >
              ABOUT US
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-content">

              <ul>
                <li>
                  <a href="">Welcome letter</a>
                </li>
                <li>
                  <a href="#">
                    why we are special
                  </a>
                </li>
                <li>
                  <a href="#">
                    dfjgsbvk
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div style="height: 5000px"></div>
</div>
